* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::after,
*::before {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Epilogue", sans-serif;
  background: #fafafa;
  color: hsl(0, 0%, 8%);
}

.header {
  position: relative;
  padding: 1rem 2rem;
  max-height: 10vh;
  max-width: 140rem;
  margin: 0 auto;
}

/* OVERLAY TRIGGERED WHEN HAMBURGER IS CLICKED */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 50vw;
  height: 100vh;
  z-index: 2;
  display: none;
}

.dark-overlay {
  background: rgba(0, 0, 0, 0.5);
  display: block;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LEFT NAVIGATION AREA STYLING*/
.left-nav {
  display: flex;
  gap: 4rem;
  align-items: center;
}

.left-nav-lists {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
  transition: 0.3s all ease-in;
}

.left-nav-lists .nav-list-item {
  font-size: 1.4rem;
  padding: 1rem 2rem;
  position: relative;
  cursor: pointer !important;
  transition: 0.2s all ease-in;
  font-weight: 500;
  transition: 0.3s all ease-in;
}
/* LEFT NAVIGATION AREA NAVIGATIONS AND INTERACTIONS */
.left-nav-lists .nav-list-item:hover a {
  color: hsl(0, 0%, 41%);
}

.left-nav-lists .nav-list-item:nth-child(3):hover,
.left-nav-lists .nav-list-item:nth-child(4):hover {
  color: hsl(0, 0%, 41%);
}

.left-nav-lists .nav-list-item:hover .fa-angle-down {
  transform: rotate(-180deg);
  transition: 0.3s all ease-in;
}

/* LEFT NAVIGATION AREA DROPDOWN MENU INTERACTION AND STYLING */
.left-nav-lists .nav-list-item:hover .dropdown {
  display: flex;
}

.dropdown {
  position: absolute;
  top: 101%;
  left: 0;
  width: 100%;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  display: none;
  background: #fff;
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  overflow: hidden;
  /* z-index: ; */
}

.nav-list-item .dropdown li {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.nav-list-item .dropdown span {
  padding: 1rem;
}

.nav-list-item .dropdown li:hover {
  background: #ebebeb;
}

.left-nav-lists .nav-list-item a {
  margin-right: 1rem;
  text-decoration: none;
  color: #000;
}

/* RIGHT NAVIGATION AREA STYLING */
.right-nav {
  align-items: center;
  display: flex;
}
.right-nav-lists {
  display: flex;
  gap: 2rem;
}

.right-nav-lists .nav-list-item {
  font-size: 1.4rem;
  list-style: none;
  font-weight: 700;
}
.right-nav-lists .nav-list-item {
  padding: 1rem 2rem;
  cursor: pointer;
}
/* RIGHT NAVIGATION AREA NAVIGATIONS AND INTERACTIONS */
.right-nav-lists .nav-list-item:first-child:hover {
  color: hsl(0, 0%, 41%);
}
.right-nav-lists .nav-list-item:last-child {
  border: 1.5px solid hsl(0, 0%, 8%);
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}

.right-nav-lists .nav-list-item:last-child:hover {
  background: hsl(0, 0%, 41%);
  color: #fff;
  border-color: hsl(0, 0%, 41%);
}

/* MOBILE NAVIGATION */
.mobile-nav {
  position: absolute;
  right: 20px;
  top: 0;
  font-size: 3rem;
  display: none;
  z-index: 3;
  cursor: pointer;
}

.nav-open {
  position: absolute;
  top: 10px;
  right: 0;
  z-index: 100;
}

.mobile-nav .nav-close {
  display: none;
}

.mobile-nav-slide {
  position: absolute;
  top: 0;
  right: 0;
  width: 50vw;
  height: 100vh;
  background: hsl(0, 0%, 98%);
  transform: translateX(100%);
  display: none;
}

.mobile-nav.active .mobile-nav-slide {
  display: block;
  transform: translate(0);
}
.mobile-list-slide {
  margin-top: 8rem;
  list-style: none;
}

.mobile-list-slide .nav-list-item {
  font-size: 1.5rem;
  padding: 1rem 2rem;
}

/* MOBILE DROPDOWN MENU */
.mobile-nav-slide .nav-list-item {
  position: relative;
}

.mobile-dropdown {
  display: flex;
  justify-content: center;
  flex-direction: column;
  list-style: none;
  display: none;
  cursor: pointer;
}

.mobile-dropdown li {
  display: flex;
  width: 100%;
  gap: 1rem;
  padding: 1rem 2rem;
  font-size: 1.3rem;
  align-items: center;
}

.mobile-dropdown li:hover {
  background: hsl(0, 2%, 80%);
}

.mobile-nav-slide .nav-list-item a {
  margin-right: 1rem;
  color: hsl(0, 0%, 8%);
  text-decoration: none;
}

.mobile-nav-slide .nav-list-item:hover .fa-angle-down {
  transform: rotate(-180deg);
  transition: 0.3s all ease-in;
}

.mobile-nav-slide .nav-list-item:hover .mobile-dropdown {
  display: flex;
}

/* MAIN AREA STYLING */
main {
  max-height: 100vh;
  max-width: 140rem;
  margin: 0 auto;
}

.main-section {
  display: flex;
  padding: 2rem 8rem;
}

.hero-text-area,
.hero-image-area {
  flex: 1;
  /* border: 2px solid red; */
}

/* MAIN TEXTAREA STYLING */
.hero-text-area {
  display: flex;
  flex-direction: column;
  padding: 2rem 4rem;
  gap: 4rem;
  justify-content: center;
}

.hero-text-area .lead-text {
  font-size: 6rem;
  width: 90%;
}

.hero-text-area .sub-text {
  width: 60%;
  line-height: 2rem;
  font-size: 1.2rem;
  color: hsl(0, 0%, 41%);
}

.hero-text-area button {
  padding: 1rem 2rem;
  background: hsl(0, 0%, 8%);
  border: 1.5px solid hsl(0, 0%, 8%);
  width: 30%;
  color: #fff;
  border-radius: 1rem;
  cursor: pointer;
  transition: background 0.2s ease-in;
  font-weight: 700;
}

.hero-text-area button:hover {
  background: transparent;
  color: hsl(0, 0%, 8%);
}

.clients {
  display: flex;
  list-style: none;
  width: 80%;
  justify-content: space-between;
}

/* MAIN IMAGE AREA STYLING */
.hero-image-area {
  background-image: url("./images/image-hero-desktop.png");
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
}

/* ATTRIBUTION STYLING */
.attribution {
  margin-top: 2rem;
  font-size: 12px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* MEDIA QUERIES */

/* 1110px */
@media (max-width: 69.37em) {
  .hero-text-area .lead-text {
    font-size: 5rem;
  }

  .hero-text-area button {
    width: 35%;
  }

  .clients img {
    width: 80%;
  }
}

/* 1000px */
@media (max-width: 62.5em) {
  .hero-text-area .lead-text {
    font-size: 5rem;
    width: 100%;
    font-size: 4rem;
  }
  .hero-text-area .sub-text {
    width: 80%;
  }
}

/* 900px */
@media (max-width: 56.87em) {
  .left-nav-lists,
  .right-nav {
    display: none;
  }

  .hero-text-area button {
    width: 40%;
  }

  .mobile-nav {
    display: block;
  }
}

/* 850px */
@media (max-width: 53.12em) {
  main {
    height: 85vh;
  }
  .main-section {
    flex-direction: column-reverse;
  }
  .hero-image-area {
    background-size: cover;
    background-image: url("./images/image-hero-mobile.png");
  }
}

/* 710px */
@media (max-width: 44.38em) {
  .hero-text-area {
    gap: 2rem;
  }
  .hero-text-area button {
    width: 30%;
  }
}

/* 630px */
@media (max-width: 39.37em) {
  .hero-text-area .lead-text {
    font-size: 3rem;
  }
  .hero-text-area button {
    width: 37.5%;
  }
}

/* 550px */
@media (max-width: 34.37em) {
  .main-section {
    padding: 2rem 4rem;
  }
  .hero-text-area h1 {
    text-align: center;
  }
  .hero-text-area {
    align-items: center;
    padding: 1rem 2rem;
  }

  .hero-text-area .lead-text,
  .hero-text-area .sub-text {
    width: 100%;
    text-align: center;
  }

  .hero-text-area button {
    width: 50%;
  }

  .clients {
    align-self: start;
    width: 100%;
  }
}

/* 400px */
@media (max-width: 25em) {
  .main-section {
    padding: 2rem;
  }
}

/* 320px */
@media (max-width: 20em) {
  .hero-text-area button {
    width: 60%;
  }
}
